@font-face {
   font-family: 'Bangers';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/codyw/Documents/GitHub/radtechit/fonts/Bangers/regular.ttf') format('truetype');
}
